/**
* !styles for footer social media icons
**/
.f-facebook:hover {
    color: blue;
  }
  .f-twitter:hover {
    color: #00b4d8;
  }
  .f-google:hover {
    color: red;
  }
  .f-instagram:hover {
    color: #ff006e;
  }
  .f-linkedin:hover {
    color: #0077b6;
  }
  